// Navbar Styles 
// Structure


//some shadow

.nav-shadow {
    box-shadow: 0 0.9rem 1.5rem -1.2rem black;
}

//sticky and scroll effects
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    transition: 1s ease-in-out;
}


.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

//navbar styles
.nav-menu .navbar, .nav-menu .navbar-nav  {
    height: 8.2rem;
}



.navbar-collapse .navbar-nav {
    height: fit-content;
    .nav-itrem {
        padding: 0rem 0.5rem;
        border-radius: 0.5rem;
        &:hover {
            outline: solid hsla(90, 100%, 60%, 0.5) 1.5rem;
        }
    }
    .nav-link {
        color: white;
        font-weight: bold;
        cursor: pointer; 
        &:hover {
            color:hsl(90, 100%, 60%);
        }
        &.active {
            color: hsl(90, 100%, 60%);
        }
    }
}



.nav-item.dropdown {
    ul {
        display: none;
        top: 100%;
        left: -3rem;
        position: absolute;
        padding: 0;
        background-color: #111927;
        border: #000D1C solid 0.2rem;
        border-radius: 0;
        text-align: right;
        &.show {
            display: block;
        }
    }
    
    
    .nav-item {
        font-size: 1.7rem;
        margin: 0;
        border-radius: 0;
        border-bottom: solid #000D1C 0.2rem;
        .nav-link {
            color: white;
        }
    }

}


//mobile nav a.k.a navbar small

.navbar-toggler {
    padding: 0.125rem 0.25rem;
    border: transparent solid;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}
.nav-mobile-toggle {
    z-index: 1000;
}

.navbar-collapse-mobile {
    margin: 0;
    height: 100vh;
    background-color: #000D1C;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    visibility:hidden;
    &.show {
        visibility: visible;
    }
    .navbar-nav {
        padding: 1rem;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 8.2rem);
        width: 100%;
        li.nav-item {
            padding: 1rem;
            border-radius: 0;
        }
    }
    

}


// Navbar Elements 
// Navbar-brand, Nav-item und Nav-link

.navbar-brand {
    width: fit-content;
    margin: 0;
    padding: 0;
}
.brand-logo {
    height: 7rem;
    margin-right: -0.50rem;
}
.brand-name {
    text-decoration: none;
    font: 3rem sans-serif;
    font-weight: bold;
    color: #51FF00;
    position: relative;
    top: 0.7rem;
}
