@mixin btn-styles($background-color, $bgvalue) {
    &:not(:disabled) {
        #{$background-color}: $bgvalue;
        border: none;
        color: #000D1C;
        padding: 0.5rem 1rem;
        transition: all ease-in .1s;
    }

    &:hover {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 0.7rem solid rgba(52, 162, 9, 0.25);
    }

    &:focus {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 0.7rem solid rgba(52, 162, 9, 0.25);
        box-shadow: none;
    }
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0rem;
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


.bg-color-blue-nav, .bg-color-blue-nav .navbar {
    background-color: #111927;
}
.bg-color-white-nav, .bg-color-white-nav .navbar {
    background-color: #EEE;
}

.nonscroll {
    overflow: hidden;
}

//removing default browser styles

.form-checkbox-label input {
    opacity: 0;
}

//Button Styles 

.btn {
    font-size: 1.7rem;
    @include btn-styles(background-color, rgba(246, 248, 244, 0.591));
    &.btn-primary {
        @include btn-styles(background-color, rgba(153, 255, 51, 1));
    }
    &.btn-danger {
        @include btn-styles(background-color, rgba(255, 29, 4, 0.772) );
    }
    &.btn-info {
        @include btn-styles(background-color, rgba(255, 219, 40, 0.957) );
        &.active {
            @include btn-styles(background-color, rgba(28, 248, 164, 0.957) );
        }
    }
    &.btn-google {
        position: relative;
        border-radius: 5rem;
        background-color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: small;
        &::after {
            transition: transform 0.25s;
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 5rem;
            border-left: rgba(255, 219, 40, 0.957) solid 0.3rem;
            border-top: rgba(255, 30, 30, 0.763) solid 0.3rem;
            border-right: rgba(9, 181, 15, 0.952) solid 0.3rem;
            border-bottom: rgba(30, 120, 255, 0.763) solid 0.3rem;
        }
        &:hover {
            color: black;
            outline: none;
            background-color: rgb(234, 255, 212);           
            &::after {
                border-radius: 5rem;
                border-left: rgba(255, 219, 40, 0.957) solid 0.3rem;
                border-top: rgba(255, 30, 30, 0.763) solid 0.3rem;
                border-right: rgba(9, 181, 15, 0.952) solid 0.3rem;
                border-bottom: rgba(30, 120, 255, 0.763) solid 0.3rem;
                transform: rotate(180deg);
            }
        }
    }
    &.btn-github {
        border-radius: 5rem;
        color: white;
        background-color: rgba(25, 25, 25, 0.8);
        border: 0.3rem rgba(61, 61, 61, 0.763) solid;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: small;
        &:hover {
            color: lightgreen;
            border:#34A200 0.3rem solid;
        }
    }
    &.btn-facebook {
        border-radius: 5rem;
        background-color: rgba(33, 137, 255, 0.8);
        border: 0.3rem rgba(255, 255, 255, 0.959) solid;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
        font-weight: bold;
        color: white;
        &:hover {
            outline: none;
            background-color: rgba(255, 255, 255, 0.959) ;
            border: 0.3rem rgba(33, 137, 255, 0.8) solid;
            color: rgba(33, 137, 255, 0.8)  ;

        }
    }
}






@keyframes hop {
    0% {
        font-size: inherit;
    }
    50%{
        font-size: 18px;
    }
    100% {
        font-size: inherit;
    }
}

@keyframes rotation {
    0% {
        height: 0;
    }
    25% {
        height: 1.5rem;
    }
    50% {
        height: 2.5rem;
    }
    75% {
        height: 4.5rem;
    }
    100% {
        height: fit-content;
    }
}

// Navbar Styles 
// Structure


//some shadow

.nav-shadow {
    box-shadow: 0 0.9rem 1.5rem -1.2rem black;
}

//sticky and scroll effects
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    transition: 1s ease-in-out;
}


.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

//navbar styles
.nav-menu .navbar, .nav-menu .navbar-nav  {
    height: 8.2rem;
}



.navbar-collapse .navbar-nav {
    height: fit-content;
    .nav-itrem {
        padding: 0rem 0.5rem;
        border-radius: 0.5rem;
        &:hover {
            outline: solid hsla(90, 100%, 60%, 0.5) 1.5rem;
        }
    }
    .nav-link {
        color: white;
        font-weight: bold;
        cursor: pointer; 
        &:hover {
            color:hsl(90, 100%, 60%);
        }
        &.active {
            color: hsl(90, 100%, 60%);
        }
    }
}



.nav-item.dropdown {
    ul {
        display: none;
        top: 100%;
        left: -3rem;
        position: absolute;
        padding: 0;
        background-color: #111927;
        border: #000D1C solid 0.2rem;
        border-radius: 0;
        text-align: right;
        &.show {
            display: block;
        }
    }
    
    
    .nav-item {
        font-size: 1.7rem;
        margin: 0;
        border-radius: 0;
        border-bottom: solid #000D1C 0.2rem;
        .nav-link {
            color: white;
        }
    }

}


//mobile nav a.k.a navbar small

.navbar-toggler {
    padding: 0.125rem 0.25rem;
    border: transparent solid;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}
.nav-mobile-toggle {
    z-index: 1000;
}

.navbar-collapse-mobile {
    margin: 0;
    height: 100vh;
    background-color: #000D1C;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    visibility:hidden;
    &.show {
        visibility: visible;
    }
    .navbar-nav {
        padding: 1rem;
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 8.2rem);
        width: 100%;
        li.nav-item {
            padding: 1rem;
            border-radius: 0;
        }
    }
    

}


// Navbar Elements 
// Navbar-brand, Nav-item und Nav-link

.navbar-brand {
    width: fit-content;
    margin: 0;
    padding: 0;
}
.brand-logo {
    height: 7rem;
    margin-right: -0.50rem;
}
.brand-name {
    text-decoration: none;
    font: 3rem sans-serif;
    font-weight: bold;
    color: #51FF00;
    position: relative;
    top: 0.7rem;
}



// Content Styles

// Allgemeine Stillen - General Styles


.main {
    background: linear-gradient(60deg, #112233 10%, #111927 10%, #111927 90%, #112233 90%) no-repeat fixed;
    padding-top: 8.2rem;
    color: white;
}


a:not(:disabled) {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgba(153, 255, 51, 1);
}

.cont {
    background-color: #000D1C;
    padding: 0;
}


.cont-header {
    padding: 0 1rem;
}
.cont-content {
    line-height: 1.75rem;
    margin: 0 1rem;
    padding: 1rem;
}
.cont-row {
    padding: 0;
}

.cont-content h5 {
    line-height: inherit;
}
.cont-content p {
    margin-top: 1rem;
    line-height: 1.5rem;
}

//Image Styles

.cont-img-div {
    border: #34A200 solid 0.5rem;
    width: fit-content;
}
.cont-img {
    width: 10rem;
}

.img-avatar {
    width:5rem;
    background-color: red;
}

//Specific Styles (topic container, banner and forms container)

// Feed container

.page-feed {
    padding-bottom: 2rem;
}

.cont-feed {
    ul {
        justify-content: left;
        display: flex;
        padding: 0;
    }
    li {
        border: #34A200 solid 0.3rem;
        border-radius: 0.5rem;
        margin: 0;
        margin-right: 1rem;
        &.active {
            .btn {
                color: black;
                background-color: hsl(90, 100%, 60%);
            }
        }
    }
    .btn-feed {
        color: white;
        background-color: transparent;
        &:active {
            background-color: hsl(90, 100%, 60%);
            color: black;
        }
        &:focus {
            box-shadow: 0 0 0.1rem white        ;
        }   

    }
}



// Tag container
.cont-tags {
    color: red;
    max-height: inherit;
    margin: 0;
}

.cont-tags>.cont-header {
    font-variant: small-caps;
    font-style: italic;
    color: white;
    border-bottom: #34A200 solid 0.25rem;
    height: 3.5rem;
}

.topic-btn-cont {
    max-height: 50rem;
    padding: 0 1rem;
    margin: 0;
    overflow-x: hidden;
}
.topic-btn {
    display: block;
    border: #34A200 solid 0.25rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: transparent;
    color: whitesmoke;
    padding: 0 0.5rem;
}

//Article preview

.article-box {
    .page-item {
        background-color: #000D1C;
        
        &.active {

            .page-link{
                color:hsl(90, 100%, 60%);
            }
        }
    }
    .page-link {
        color: gray;
        background-color: transparent;
        border: none;
        &:focus {
            box-shadow: 0 0 1rem #51FF00;
        }
    }
    
}
.article-preview {
    background-color: #000D1C;
    margin-bottom: 3rem;
    padding: 1rem;
    border: #051d46 0.5rem solid;
}

.article-meta {
    margin: 0 auto;
    padding: 0.7rem 1.6rem;
    background-color: #000D1C;
}
.article-meta.bottom {
    border-radius: 1rem;
    max-width: 100;
    margin: 0;
    margin-bottom:8rem;
}
.article-author {
    width: fit-content;
    padding: 0;
    img {
        border-radius: 50%;
        width: 2.5rem;
    }
    p, span {
        display: inline;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }

}

.article-buttons {
    border-left: 0.5rem solid #51FF00;
    padding: 0 4rem;
    max-width: 50%;
    .btn {
        margin-right: 1rem;
    }
    .btn.btn-info {
        max-width: 7rem;
    }
    .follow-row {
        span {
            display: block;
            text-align: center;
        }
    }

}

.article-link {
    margin-top: 1rem;
}

.tag-list {
    padding: 0;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000D1C;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tag-list span {
    display: block;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    background-color: #112233;
}
.tag-list ul {
    padding: 0.5rem 1.6rem;
    margin: 0;
    display: flex;
    list-style: none;
}
.tag-list li {
    background-color: #000D1C;
    padding: 0 1rem;
    outline: yellowgreen 0.1rem solid;
    border-radius: 1rem;
    text-align: center;
}

.cont.tech-banner-cont {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cont-three .cont {
    box-shadow: 0.25rem 0.25rem 0 #34A200;
    margin: 0 0.5rem 2.5rem;
}
.cont-three .cont .cont-header {
    text-align: center;
}
.cont-three .cont .cont-content {
    padding: 1rem;
}

.banner-quote {
    background-color: hsl(90, 100%, 60%);
    width: 70%;
    margin: 7rem auto;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 0 #EEE;

}
.banner-quote h1 {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-style: italic;
}

.cont.tech-banner-cont {
    background-color: #000D1C;
    box-shadow: 0.5rem 0.5rem 1rem #34A200;
    padding: 1rem;
}

.tech-banner {
    margin: 0 auto;
}



// Profile styles

.profile-page {
    padding-top: 2rem;
}

.profile-info {
    .btn-follow>span {
        display: block;
    }
}
.profile-avatar {
    display: block;
    text-align: left;
    img {
        margin: 0 auto;
        border: #112233 solid 0.5rem;
        border-radius: 25%;
    }
    a {
        font-size: 2.5rem;
        width: fit-content;
        font-style: bold;
        display: block;
        margin: 0 auto;
    }
}

.profile-bio {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border: #051d46 1rem solid;
    background-color: #000D1C;
    min-height: 20rem;
    p {
        line-height: 1rem;
    }
}
.profile-buttons {
    display: flex;
    margin: 1rem auto;
    width: fit-content;
    .follow-row {
        margin: 0 1rem;
        width: auto;
        .btn.btn-primary {
            background-color: skyblue;
        }

    }
    .btn {
        margin: 0 0.5rem;
    }
    .btn-info {
        a {
            color: #000D1C;
        }
    }
    span {
        text-align: center;
        height: 2.5rem;
        width: 100%;
        display: block;
        font-style: bold;
        margin: 0 auto;
    }
    .col-12 {
        margin-bottom: 0.5rem;
    }
}
.author-buttons {
    max-width: 50%;
    .btn.btn-primary {
        &:active {
            a {
                color: white;
            }
            background-color: transparent;
        }
        a {
            color: #000D1C;
        }
    }
}

.profile-toggler {
    ul {
        display: flex;
        margin: 1rem 0;
        list-style: none;
        
    }
    li.nav-item {
        margin: 0 0.5rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        transition: ease-out 0.1s outline;
        outline: 0;
        &:hover {
            outline: 0.15rem solid #51FF00;
        }
        &.active {
            background-color: greenyellow;
            a {
                color: #000D1C;
            }
        }

    }
}

//Form styles

.auth-page {
    padding-top: 2rem;
    padding-bottom: 1rem;
    h1 {
        text-align: center;
        text-transform: uppercase;
    }
    .col {
        margin-bottom: 0.25rem;
    }
    .btn-info {
        a {
            color: black;
        }
        margin-left: 1rem;
    }

    .error-message {
        transition: visibility .1s;
        transition:  margin 0.2s;
        height: 0;
        visibility: hidden;
        margin-top: -4rem;
        background-color: hsl(0, 100%, 40%);
        padding: 0.5rem 1rem;
        border: hsl(0, 100%, 15%) solid 0.5rem;
        &.active {
            margin: 0;
            height: fit-content;
            visibility: visible;
        }
        &::after {
            margin-left: 0.5rem;
            font-size: 2.5rem;
            content: "!"
        }
    }
}
.form-cont {
    padding: 1rem;
    textarea {
        width: 100%;
    }
}
.article-form {
    padding: 2rem;
    .markdown-editor {
        .wmde-markdown-var.w-md-editor.w-md-editor-show-live {
            min-height: 20rem;
            height: fit-content !important;
        }
        .w-md-editor-area.w-md-editor-input {
            min-height: inherit;
        }
        .w-md-editor-preview {
            min-height: inherit;
        }
    }
}


.form-fieldset {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .form-label {
        background-color: #111927;
        width: fit-content;
        padding: 0 0.5rem;
        margin-left: 1rem;
        margin-bottom: -0.5rem;
        z-index: 3;
        cursor: pointer;
    }
}

.form-input:hover {
    box-shadow: 0.25rem 0.25rem 0 rgba(153, 255, 51, .7);
}

.form-input {
    background-color: transparent;
    border: #ccc solid 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0 rgba($color: #777, $alpha: .7);
    padding: 0.25rem 1rem;
    z-index: 2;
    color: white;
}
.form-input:focus {
    outline: none;
    box-shadow: 0.25rem 0.25rem 0 rgba(153, 255, 51, 1);
}



.form-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 3.5rem;
    margin-bottom: 1rem;
    width: fit-content;
}
.checkbox-span {
    position: absolute;
    top:0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: #ccc solid 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0 rgba($color: #777, $alpha: .7);
}
.form-checkbox-label:hover input ~.checkbox-span {
    box-shadow: 0.125rem 0.125rem 0 rgba(153, 255, 51, .7);
}
.form-checkbox-label input:checked ~ .checkbox-span {
    border: #ccc solid 0.25rem;
    box-shadow: 0.125rem 0.125rem 0 rgba(153, 255, 51, .7);
    background-color: rgba(153, 255, 51, .7);
}
.checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox-label input:checked ~.checkbox-span:after {
    display: block
}

.form-checkbox-label .checkbox-span:after {
    left: 0.5rem;
    top: 0;
    width: 0.7rem;
    height: 1.3rem;
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.form-btn {
    width: 100%;
    margin: 1rem auto;
}

//Article page

.container.article-page {
    max-width: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.container.banner-container {
    position: relative;
    max-width: 100%;
    padding: 0;
    text-align: center;
    background-color: rgba(153, 255, 51, 1);
    color: #000D1C;
    h1 {   
        position: absolute;
        bottom: 0;
        margin: 0;
        display: block;
        text-align: center;
        width: 100%;
        padding: 1rem 0;
        background: linear-gradient( 0deg, rgba(153, 255, 51, 1), transparent);
    }
}
.container.article-cont {
    max-width: 100%;
    margin: 0 auto;
}
.article-body {
    padding: 0;
    .wmde-markdown.wmde-markdown-color {
        padding: 2rem 5rem;
        background-color: transparent;
    } 
}

//Comment styles
.no-comments {
    background-color: hsla(90, 100%, 60%, 1);
    color:#000D1C;
    width: 100%;
}
.comment-row {
    width: 100%;
    margin:0;
    hr {
        width: 100%; 
        height: 1rem;
        padding: 0;
        background-color: hsl(90, 100%, 30%);
    }
    .row.col-12{
        background-color: #000D1C;
        width: 100%;
        margin: 0;
    }
}
.comment-count {
    color: #112233;
    background-color: #51FF00;
    padding: 0 1.6rem;
}
.comment-form {
    margin: 0;
    width: 100%;
    padding: 0rem 2rem 1rem 2rem;
    background-color: #000D1C;
    label {
        text-transform: uppercase;
        display: block;
        margin: 2rem 0 2rem 1rem;
    }
    textarea {
        background-color: #000D1C;
        color: white;
        width: 100%;
        height: fit-content;
    }
    .comment-footer {
        padding-top: 1rem;
        display: flex;
    }
    .btn {
        margin-left: 2rem;
    }
}

.comment-unlogged {
    background-color: #000D1C;
    padding: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid rgba(153, 255, 51, 1) 0.5rem;
    a {
        border-radius: 0.5rrem;
        @include btn-styles(background-color, rgba(153, 255, 51, 0.5));
    }
}

.comment-card {
    max-width: 100%;
    margin: 0 auto;
    background-color: #000D1C;
    padding: 2rem;
    padding-bottom: 2rem;
    border-bottom: #051d46 solid 0.25rem;
}

.comment-author {
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #000D1C;
    width: 100%;
    width: fit-content;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
}
.comment-author img {
    border-radius: 50%;
    width: 2.5rem;
}
.comment-author span {
    margin-left: 0.5rem;    
}
.comment-cont {
    background-color: #112233;
    padding: 1rem;
    span {
        color: lightgray;
        display: block;
        padding-top: 1rem;
        &::before {
            content: "Last updated at: ";
        }
    }
}
.comment-footer {
    .btn.btn-info {
        margin: 0.5rem auto;
        min-width: 7rem;
    }
    .comment-dropbtn {
        border: 0.15rem solid white;
        background-color: transparent;
        border-radius: 15%;
        transition: background-color ease-in 0.2s;
        transition: border ease-in 0.2s;
        &:hover {
            background-color: gray;
        }
        &:active {
            border:#51FF00 solid 0.10rem;
        }
    }
    .comment-dropdown-content {
        position: absolute;
        opacity: 0;
        background-color: #112233;
        max-width: 12rem;
        border: #111927 solid 0.4rem;
        ul {
            list-style: none;
            margin: 0;
            padding: 0rem;
        }
        li {
            padding-left: 1rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            border-bottom: solid 0.2rem #111927;
        }
        a {
            &:hover {
                color:#51FF00;
                animation: hop .25s;
            }
        }
        &.show {
            position: relative;
            opacity: 1;
            animation: rotation 0.1s;
        }

    }
}


//footer styles

footer {
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #000D1C;
    color: whitesmoke;
    height: fit-content;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .footer-col {
        margin-bottom: 1rem;
        div.col-6 {
            .footer-form {
                width: 100%;
            }
            .btn-newsletter {
                position: relative;
                top:1.5rem;
                max-width: 8rem;
                margin: 0 auto;
            }
        }
    }
}

.footer-form {
    display: none;
    &.show {
        display: block;
    }
    margin: 0;
    fieldset {
        margin: 0;
        input {
            margin-bottom: 0.5rem;
        }
 
   }
}
.btn-newsletter {
    display: none;
    &.show {
        display: block;
    }
}
.socialmedia {
    width: fit-content;
    margin: 0 auto;
    ul {
        margin:  0 auto;
        display: flex;
        list-style: none;
    }
    li {
        margin: 0 1rem;
        padding: 0.25rem;
        width: 5rem;
        text-align: center;    
    }
    a {
        margin: 0 auto;
    }
}






// Others

.loading-truck {

    display: block;
    margin: 0 auto;
    text-align: center;
    height: calc(100vh - 33.2rem);
}

.not-found-page  {
    height: calc(100vh - 332px);
}


