body {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    padding: 0;
}

#app {
    display: flex;
    width: 100%;
    margin: 0;
    height: fit-content;
}
main {
    background-color: blue;
    height: max-content;
    padding: 2rem;
}

#sidebar {
    background-color: hsl(70, 5%, 95%);
    width: 20%;
    min-width: 20%;
    padding: 0.5rem;
}
.sidebar_item_options {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.item_options{
    padding: 0 0.125rem;
    margin: 0;
    padding: 0.25rem;
    vertical-align: middle;
    
}

.item_options:hover{
    background-color: lightcyan;
    cursor: pointer;
}

.item_options_icon {
    display: inline;
}
.item_options_icon img {
    width: 1.5rem;
}

.item_options_text{
    display: inline;
    padding: 0 0.125rem;
    margin: 0 0 0 0.5rem;
}

.item_options_button{
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    background-color: cyan;
    border: gold solid 0.25rem;
    border-radius: 0.5rem;
    padding-top: 0.25rem;
}
.scroll_divisor {
    border-top: darkslategray 0.5rem solid ;
    margin: 1rem 0;
}
.sidebar_scroll {
    background-color: yellow;
}
.sidebar_scroll_1 {
    display: flex;
    border: 1rem solid green;
    margin: 0;
    border: red solid 0.05rem;
    padding:0;
}

.si_it_ul_top {
    list-style: none;
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 0rem;
    
}
.si_it_ul_top span {
    margin-right:1rem;

    
}

.si_it_li_top {
    color:black;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin: 0.25rem 0 0.25rem 0;
    width: 100%;
}
.si_it_li_top_item:hover {
    background-color:lightblue;
}
.si_it_li_top_a, .si_it_li_top_a:active {
    text-decoration: none;
    color:black;    
}
.si_it_li_top_a:active {
    color:red;    
}
.si_it_ul_bot {
    list-style: none;
    display: none;
    margin-left:2rem;
    padding: 0rem;
    color:white;
    border: solid 0.5rem darkgreen;
    font-weight: lighter;
}
.si_it_li_bot {
    display: block;
    padding: 0.25rem 1.25rem 0.25rem 0.5rem;
    background-color: darkolivegreen;
    
}

.si_it_li_top:hover .si_it_ul_bot {
    display: block;
    position: absolute;
}
.hinzufugen {
    width: 100%;
    background-color: darkgoldenrod;
}
.hinzufugen span{
    margin: 0 1rem;
}
.hinzufugen a {
    font-weight: bold;
    font-style: italic;
}
.seite {
    text-decoration: none;
}
.seite:hover {
    cursor:pointer;
}
.selectable-content {
    display: flex;
    background-color: whitesmoke;
    border: lightblue solid 0.05rem;
}
.selectable:hover {
    cursor:default;
}
.pfeil {
    color: green;
    margin-right: 0.5rem;
}
.icon {
    font-weight: bold;
}
.titel {
    margin-left: 0.5rem;

}
.blocks {
    background-color: hsl(70, 10%, 99%);
    padding: 3rem;
    display: flex;
}
.blocks-left, .blocks-right {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.separator {
    border-left: 0.5rem double blue;
    padding: 0.5rem;
}
.block {
    padding: 0.5rem;
    display: block;
}

.rule {
    background-color: red;
    height: 5rem;
    border: red 3rem solid;

}



.text-block {
    max-width: 100%;
    margin: 0 auto;
}

.text-block h1 {
    display: block;
    margin: 0 auto;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.text-block h2 {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.text-block p{
    line-height: 1.25rem;
    margin: 0;

}

.label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

.form-block {
    background-color: hsl(70, 5%, 90%);
    padding: 1.5rem;
    padding-bottom: 3.75rem;
    width: fit-content;
    margin: auto;
    margin-top: 1.5rem;
}
.username, .message, .date {
    background-color: hsl(0, 30%, 60%);
    border-radius: 1rem;
}
.img {
    height: 12rem;
    border-radius: 2rem;
    border: 1rem solid hsl(70, 10%, 99%);
    padding: 0;
    margin:0 auto;
}


