//footer styles

footer {
  width: 100%;
  min-height: 30vh;
  padding: 1rem 0rem;
  background-color: #000d1c;
  color: whitesmoke;
  .footer-brand {
    margin-bottom: 0.5rem;
    a {
      span {
        vertical-align: middle;
        color: #51ff00;
        font-weight: bold;
        font-size: 2rem;
        padding-left: 1rem;
        margin: 0;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        font-size: 1.4rem;
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
      svg {
        margin-right: 1rem;
      }
    }
  }
  h1 {
    margin-bottom: 0.5rem;
    color: #51ff00;
    font-weight: bold;
    user-select: none;
    font-size: 2rem;
  }
}

