// Navbar Styles
// Structure


//sticky and scroll effects
.sticky-header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  transition: 0.7s ease-in-out;
}
.nav-shadow {
  box-shadow: 0px 1px 5px 1px #0008;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  transform: none;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: 0 0 0 2px #51ff00 ;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}


.navbar-collapse {
  height: 100vh;
  overflow: hidden;
  display: block !important;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  &.show {
    max-height: 100vh;
    transition: max-height 0.4s ease-out;
  }
}
// Navbar Elements
// Navbar-brand, Nav-item und Nav-link



@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    height: fit-content !important;
    max-height: fit-content;
  }
}


