//
// Bring in Bootstrap
//

// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

// Include functions first
@import "../../node_modules/bootstrap/scss/functions";



// Customize some defaults
$body-color: #222;
$body-bg: #fff;
$border-radius: .4rem;
$primary: #51ff00;
$secondary: #00ffa6;
$success: #7952b3;
$btn-font-weight: bold;
$btn-hover-bg-shade-amount: 40%;
$btn-hover-bg-tint-amount: 68%;
$btn-active-bg-shade-amount: 0%;
$btn-active-bg-tint-amount:  0%;
$navbar-padding-x: 1.6rem;
$navbar-padding-y: 0.750rem;
$navbar-brand-font-size: 1.8rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-toggler-border-radius: 5px;




// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
// @import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

//
// Import Bootstrap Icons w/ custom path to fonts folder
//
$bootstrap-icons-font-dir: "../../../node_modules/bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


//
// Custom styles
//

@import "./mixins";
@import "./animations";
@import "./navbar";
@import "./article";
@import "./profile";
@import "./form";
@import "./footer";
@import "./notfound";

// Allgemeine Stillen - General Styles

html {
  font-size: 10px;
  box-sizing: border-box;

}


body {
  margin: 0rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.main {
  background: linear-gradient(
      60deg,
      #112233 10%,
      #111927 10%,
      #111927 90%,
      #112233 90%
    )
    no-repeat fixed;
  padding-top: 10vh;
  color: white;
  min-height: calc(100vh - 30vh);
}

.bg-hero {
  position: relative;
  height: 195px;
  background: linear-gradient(to top, #143f00 2%, #112233 2% 22%, transparent 22%), linear-gradient(-45deg, #112233 5%, #51ff00 5% 10%, #111927 10% 15%, #111927 85% 90%, #51ff00 90% 95%, #112233 95%);  h1 {
    color: #51ff00;
    position: absolute;
    font-size: 6.5rem;
    font-weight: bolder;
    font-style: italic;
    width: fit-content;
    height: fit-content;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    user-select: none;

  }
  p {
    position: absolute;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-weight: bold;
    font-style: italic;
    font-family: "consolas";
    font-size: 10px;
    user-select: none;
  }
  .btn.btn-dark {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 12px;

  }
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.4s;
  &:hover {
    color: var(--bs-link-color);
  }
}
h1 {
  color: inherit;
}

.bg-color-blue-nav,
.bg-color-blue-nav .navbar {
  background-color: #111927;
}
.bg-color-white-nav,
.bg-color-white-nav .navbar {
  background-color: #fff;
}

.nonscroll {
  overflow: hidden !important;
}
.height-100vh {
  height: 100vh;
}
.show {
  display: block !important;
}
.sichtbar {
  opacity: 1 !important;
}

//removing default browser styles

.form-checkbox-label input {
  opacity: 0;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: #222 solid 3px;
  .checkmark {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #555;
    &:hover {
      background-color: green;
    }  
  }
  .checkmark::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    width: 0.5rem;
    height: 1rem;
    border-right: 0.2rem solid #111927;
    border-bottom: 0.2rem solid #111927;
    transform: rotate(45deg);
    transition: all 0.4s;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .checkmark {
    background-color: greenyellow;
    &::after {
      opacity: 1;
    } 
  }
}

//Btn styles

.btn {
  --bs-btn-font-family: sans-serif;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  background-image: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, outline 0.15s ease-in-out;
  
  &:active {
    outline-width: 0.4rem;
    outline-color: var(--bs-btn-border-color);
    outline-style: solid;
  }
}


// Others

.loading-truck {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: calc(100vh - 33.2rem);
}

.not-found-page {
  height: calc(100vh - 332px);
}

.loading-square-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-meta .loading-square-wrapper,
.article-meta .loading-square-wrapper::before,
.article-meta .loading-square-wrapper::after {
  max-width: 70px;
  max-height: 70px;
}
.loading-square-wrapper::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: solid 3px green;
  animation: square-clockwise 3s ease-in-out 0.5s infinite alternate;
}
.loading-square-wrapper::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: solid 3px red;
  transform: rotate(45deg);
  animation: x-square-clockwise 3s ease-in-out 0.5s infinite alternate;
}



//Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #293c5b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04080d;
}

@media screen and (min-width: 768px) {
  .bg-hero {
      height: 225px;
      transition: all 0.4s;
      background: linear-gradient(to top, #143f00 2%, #112233 2% 30%, transparent 30%), linear-gradient(-45deg, #112233 5%, #51ff00 5% 10%, #111927 10% 15%, #111927 85% 90%, #51ff00 90% 95%, #112233 95%);
      h1 {
        font-size: 8.5rem;
        transition: all 0.4s;

      }
      p {
        top: 45px;
        font-size: 1.2rem;
        transition: all 0.4s;
      }
      .btn.btn-dark {
        top: 155px;
        font-size: 21px;
        transition: all 0.4s;

      }
  }
}