@mixin btn-styles($background-color, $bgvalue) {
    &:not(:disabled) {
        #{$background-color}: $bgvalue;
        border: none;
        color: #000D1C;
        padding: 0.5em 1em;
        transition: all ease-in .1s;
    }

    &:hover {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 7px solid rgba(52, 162, 9, 0.25);
    }

    &:focus {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 7px solid rgba(52, 162, 9, 0.25);
        box-shadow: none;
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0em;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


.bg-color-blue-nav, .bg-color-blue-nav .navbar {
    background-color: #111927;
}
.bg-color-white-nav, .bg-color-white-nav .navbar {
    background-color: #EEE;
}

.nonscroll {
    overflow: hidden;
}

//removing default browser styles

.form-checkbox-label input {
    opacity: 0;
}

//Button Styles 

.btn {
    @include btn-styles(background-color, rgba(246, 248, 244, 0.591));
}

.btn-primary {
    @include btn-styles(background-color, rgba(153, 255, 51, 1));
}
.btn-danger {
    @include btn-styles(background-color, rgba(255, 29, 4, 0.58) );
}
.btn-info {
    @include btn-styles(background-color, rgba(255, 219, 40, 0.957) );
    &.active {
        color: red;
        @include btn-styles(background-color, rgba(28, 248, 164, 0.957) );
    }
}


@keyframes hop {
    0% {
        font-size: inherit;
    }
    50%{
        font-size: 18px;
    }
    100% {
        font-size: inherit;
    }
}

// Navbar Styles 
// Structure


//some shadow

.nav-shadow {
    box-shadow: 0 9px 15px -12px black;
}

//sticky and scroll effects
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 82px;
    z-index: 10000;
    transition: 1s ease-in-out;
}


.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

//navbar styles
.nav-menu .navbar, .nav-menu .navbar-nav  {
    height: 82px;
}

.navbar-collapse .navbar-nav {
    vertical-align: middle;
    padding: 1em;
}


//mobile nav a.k.a navbar small

.navbar-toggler {
    padding: 0.125em 0.25em;
    border: transparent solid;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}
.nav-mobile-toggle {
    z-index: 1000;
}

.navbar-mobile .navbar-collapse-mobile {
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    visibility:hidden;
}
.navbar-collapse-mobile.show {
    visibility: visible;
}
.navbar-collapse-mobile .navbar-nav {
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 82px);
    width: 100%;
    padding: 0;
}


// Navbar Elements 
// Navbar-brand, Nav-item und Nav-link

.navbar-brand {
    width: fit-content;
    margin: 0;
    padding: 0;
}
.brand-logo {
    height: 3em;
    margin-right: -0.50em;
}
.brand-name {
    text-decoration: none;
    font: 1.2em sans-serif;
    font-weight: bold;
    color: #51FF00;
    position: relative;
    top: 0.25em;
}
.nav-item {
    padding: 0.25em 1em;
    border-radius: 0.5em;
}
.nav-item:hover {
    box-shadow: #51FF00 0px 0px 1px;
}
.nav-link {
    margin:0;
    color: white;
    font-weight: bold;
    cursor: pointer; 
}
.navbar-collapse-mobile .nav-item:hover {
    box-shadow: #51FF00 0px 0px 1px;
}
.navbar-collapse-mobile .nav-link, .dropdown-menu .nav-link {
    color: black;
}

.nav-link:hover {
    color: #51FF00;
}

.dropdown-link {
    color: black;
}

// Content Styles

// Allgemeine Stillen - General Styles


.main {
    background: linear-gradient(60deg, #112233 10%, #111927 10%, #111927 90%, #112233 90%) no-repeat fixed;
    padding-top: 82px;
    color: white;
}


a:not(:disabled) {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgba(153, 255, 51, 1);
}

.cont {
    background-color: #000D1C;
    padding: 0;
}


.cont-header {
    padding: 0 1em;
}
.cont-content {
    line-height: 1.75em;
    margin: 0 1em;
    padding: 1em;
}
.cont-row {
    padding: 0;
}

.cont-content h5 {
    line-height: inherit;
}
.cont-content p {
    margin-top: 1em;
    line-height: 1.5em;
}

//Image Styles

.cont-img-div {
    border: #34A200 solid 5px;
    width: fit-content;
}
.cont-img {
    width: 10em;
}

.img-avatar {
    width:5em;
    background-color: red;
}

//Specific Styles (topic container, banner and forms container)

// Feed container

.page-feed {
    padding-bottom: 2em;
}

.cont-feed {
    color: white;
}

.cont-feed ul {
    justify-content: left;
    display: flex;
    padding: 0;
    color: white;
}
.cont-feed li {
    color: white;
    border: #34A200 solid 2.5px;
    border-radius: 0.5em;
    margin: 0;
    margin-right: 10px;
}
.cont-feed button {
    color: white
}
.cont-feed button:hover {
    background-color: #33ff0054;
}


// Tag container
.cont-tags {
    color: red;
    max-height: inherit;
    margin: 0;
}

.cont-tags>.cont-header {
    font-variant: small-caps;
    font-style: italic;
    color: white;
    border-bottom: #34A200 solid 2.5px;
    height: 35px;
}

.topic-btn-cont {
    max-height: 500px;
    padding: 0 1em;
    margin: 0;
    overflow-x: hidden;
}
.topic-btn {
    display: block;
    border: #34A200 solid 2.5px;
    border-radius: 0.5em;
    margin-top: 10px;
    background-color: transparent;
    color: whitesmoke;
    padding: 0 0.5em;
}

//Article preview

.article-preview {
    background-color: #000D1C;
    margin-bottom: 3em;
    padding: 1em;
    border: #051d46 5px solid;
}
.article-meta {
    margin: 0 auto;
    padding: 0.7em 1.6em;
    background-color: #000D1C;
}
.article-meta.bottom {
    border-radius: 1em;
    max-width: 80%;
    margin: 0;
}
.article-author {
    width: fit-content;
    padding: 0;
    img {
        border-radius: 50%;
        width: 2.5em;
    }
    a, span {
        margin-left: 5px;
        margin-right: 1em;
    }

}

.article-buttons {
    border-left: 0.5em solid #51FF00;

    .btn {
        margin-right: 1em;
    }

}

.article-link {
    margin-top: 1em;
}
.article-cont {
    padding: 2em 0;
}
.tag-list {
    padding: 0;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000D1C;
    margin-top: 1em;
    margin-bottom: 2em;
}

.tag-list span {
    display: block;
    margin: 0;
    padding: 0 1em;
    width: 100%;
    background-color: #112233;
}
.tag-list ul {
    padding: 0.5em 1.6em;
    margin: 0;
    display: flex;
    list-style: none;
}
.tag-list li {
    background-color: #000D1C;
    padding: 0 1em;
    outline: yellowgreen 1px solid;
    border-radius: 1em;
    text-align: center;
}

.cont.tech-banner-cont {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cont-three .cont {
    box-shadow: 2.5px 2.5px 0px #34A200;
    margin: 0 0.5em 2.5em;
}
.cont-three .cont .cont-header {
    text-align: center;
}
.cont-three .cont .cont-content {
    padding: 1em;
}

.banner-quote {
    background-color: hsl(90, 100%, 60%);
    width: 70%;
    margin: 7em auto;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 10px 10px 0px #EEE;

}
.banner-quote h1 {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-style: italic;
}

.cont.tech-banner-cont {
    background-color: #000D1C;
    box-shadow: 5px 5px 1px #34A200;
    padding: 1em;
}

.tech-banner {
    margin: 0 auto;
}

.auth-page {
    padding-top: 2em;
    padding-bottom: 1em;
}

.auth
// Profile styles

.profile-page {
    padding-top: 2em;
}
//Form styles

.cont:has( > form) {
    background-color: #000D1C;
    max-width: 50%;
    margin: 2em auto;
}
.cont-form {
    padding: 2em;
    padding-bottom: 1em;
}
.form-cont {
    padding: 1em;
    textarea {
        width: 100%;
    }
}
.auth-page .col {
    margin-bottom: 0.25em;
}

.form-fieldset {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .form-label {
        background-color: #111927;
        width: fit-content;
        padding: 0 0.5em;
        margin-left: 1em;
        margin-bottom: -0.5em;
        z-index: 3;
        cursor: pointer;
    }
}

.form-input:hover {
    box-shadow: 0.25em 0.25em 0px rgba(153, 255, 51, .7);
}

.form-input {
    background-color: transparent;
    border: #ccc solid 0.25em;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0px rgba($color: #777, $alpha: .7);
    padding: 0.25em 1em;
    z-index: 2;
    color: white;
}
.form-input:focus {
    outline: none;
    box-shadow: 0.25em 0.25em 0px rgba(153, 255, 51, 1);
}



.form-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 1em;
    width: fit-content;
}
.checkbox-span {
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height: 25px;
    border: #ccc solid 0.25em;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.125em 0px rgba($color: #777, $alpha: .7);
}
.form-checkbox-label:hover input ~.checkbox-span {
    box-shadow: 0.125em 0.125em 0px rgba(153, 255, 51, .7);
}
.form-checkbox-label input:checked ~ .checkbox-span {
    border: #ccc solid 0.25em;
    box-shadow: 0.125em 0.125em 0px rgba(153, 255, 51, .7);
    background-color: rgba(153, 255, 51, .7);
}
.checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox-label input:checked ~.checkbox-span:after {
    display: block
}

.form-checkbox-label .checkbox-span:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.form-btn {
    width: 100%;
    margin: 1em auto;
}

//Article page

.container.article-page {
    max-width: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.container.banner-container {
    max-width: 100%;
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: rgba(153, 255, 51, 1);
    text-align: center;
    color: #000D1C;
}

//Comment styles

.comment-count {
    background-color: #000D1C;
    padding: 0 1.6em;
}
.comment-unlogged {
    background-color: #000D1C;
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-bottom: solid rgba(153, 255, 51, 1) 0.5em;

}

.comment-card {
    background-color: #000D1C;
    width: 100%;
    padding: 2em;
    padding-bottom: 2em;
}

.comment-author {
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #000D1C;
    width: 100%;
    width: fit-content;
    padding: 0 0.5em;
    padding-bottom: 0.5em;
}
.comment-author img {
    border-radius: 50%;
    width: 2.5em;
}
.comment-author span {
    margin-left: 0.5em;    
}
.comment-cont {
    background-color: #112233;
    padding: 1em;
}
.comment-footer {
    padding-top: 1em;
}

//footer styles

footer {
    padding: 1em;
    background-color: #000D1C;
    color: whitesmoke;
    height: 250px;
}

.form-footer .form-input {
    margin: 0 auto;
    width: 70%;
}
.form-footer .form-label {
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
}
.socialmedia-ul {
    margin:  0 auto;
    display: flex;
    flex: 0 0 10%;
    list-style: none;
}
.socialmedia-li {
    margin: 0 1em;
    padding: 0.25em;
    width: 5em;
    text-align: center;

}

.socialmedia-a  {
    margin: 0 auto;
}

footer ul {
    display: flex;
    justify-content: space-between;
}



// Others

.loading-truck {

    display: block;
    margin: 0 auto;
    text-align: center;
    height: calc(100vh - 332px);
}

.not-found-page  {
    height: calc(100vh - 332px);
}

//dragNdrop
.drag-drop {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
  }
  .document-uploader {
    border: 2px dashed #4282fe;
    background-color: #f4fbff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
  
    &.active {
      border-color: #6dc24b;
    }
  
    .upload-info {
        color: #000D1C;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  
      svg {
        font-size: 36px;
        margin-right: 1rem;
      }
  
      div {
        p {
          margin: 0;
          font-size: 16px;
        }
  
        p:first-child {
          font-weight: bold;
        }
      }
    }
  
    .file-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      height: 30vh;
      &__container {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  
    .file-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      border-radius: 8px;
  
      .file-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        flex: 1;
  
        p {
          margin: 0;
          font-size: 14px;
          color: #333;
        }
      }
  
      .file-actions {
        cursor: pointer;
  
        svg {
          font-size: 18px;
          color: #888;
        }
  
        &:hover {
          svg {
            color: #d44;
          }
        }
      }
    }
  
    .browse-btn {
        color: #000D1C;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      cursor: pointer;
      background-color: var(--primary-color);
      &:hover {
        background-color: transparent;
      }
    }
  
    .success-file {
      display: flex;
      align-items: center;
      color: #6dc24b;
  
      p {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
      }
    }
  
    input[type="file"] {
      display: none;
    }
  }
