html {
    box-sizing: border-box;
}

body {
    margin: 0em;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

// .bg-hero {
//     background: linear-gradient(60deg, #112233 10%, #111927 10%, #111927 90%, #112233 90%);
// }
.bg-color-blue-nav {
    background-color: #111927;
}
.bg-color-white-nav {
    background-color: #EEE;
}

.nonscroll {
    overflow: hidden;
}

// Navbar Styles 
// Von Allgemeinen zu Einzelnen
//Navbar Container > Navbar Collapse


.nav-shadow {
    box-shadow: 0 9px 15px -12px black;
}
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    transition: 1s ease-in-out;
}
.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

.nav-menu-container {
    width: 100%;
}

.nav-main {
    width: 100%;
}
.navbar-toggler {
    padding: 0.125em 0.25em;
    border: transparent solid;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}
.nav-main .nav-main-toggle {
    z-index: 9999;
}

.nav-main .navbar-collapse-main {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    visibility: hidden;
}

.navbar-collapse-main.show {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.nav-main .navbar-collapse-main>.navbar-nav {
    width: 100%;
    display: flex;
    background-color: #111927;
    padding: 0.25em 1em;
}


.navbar-collapse-main .nav-menu {
    height: 100vh;
    width: 100%;
    padding: 0;
}

.navbar-collapse-mobile .navbar-nav {
    flex-direction: column;
    width: 100%;
}
.show .navbar-collapse-mobile {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 82px);
    max-height: calc(100vh - 82px);
    width: 100%;
    overflow: overlay;
}

// Navbar Elements 
// Navbar-brand, Nav-item und Nav-link

.navbar-brand {
    width: fit-content;
    margin: 0;
    padding: 0;
}

.brand-logo {
    width: 4em;
    margin-right: -0.85em;
}

.brand-name {
    text-decoration: none;
    font: 1.2em sans-serif;
    font-weight: bold;
    color: #51FF00;
    position: relative;
    top: 0.5em;
}


.nav-item {
    padding: 0.25em 1em;
    border-radius: 0.5em;
}
.nav-item:hover {
    box-shadow: #51FF00 0px 0px 1px;
}

.nav-link {
    margin:0;
    color: white;
    font-weight: bold;
    cursor: pointer; 
}

.navbar-collapse-mobile .nav-item:hover {
    box-shadow: #51FF00 0px 0px 1px;
}

.navbar-collapse-mobile .nav-link {
    margin:0;
    color: black;
    font-weight: bold;
    cursor: pointer; 
}

.navbar-collapse-mobile .nav-link:hover {
    color: black;
}
.navbar-collapse-mobile .nav-link:active {
    color: #51FF00;
}


.nav-link:hover {
    color: #51FF00;
}
.nav-link:visited {
    color: #51FF00;
}

// Content Styles

.main {
    background: linear-gradient(60deg, #112233 10%, #111927 10%, #111927 90%, #112233 90%) no-repeat fixed;
    color: wheat;
    padding-top: 6em;
}

.content-quote {
    background-color: hsl(90, 100%, 60%);
    width: 70%;
    margin: 7em auto;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 10px 10px 0px #EEE;

}
.content-quote-link {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-style: italic;
}
// Footer styles

footer {
    background-color: gray;
}

