@mixin btn-styles($background-color, $bgvalue) {
    &:not(:disabled) {
        #{$background-color}: $bgvalue;
        border: none;
        color: #000D1C;
        padding: 0.5em 1em;
        transition: all ease-in .1s;
    }

    &:hover {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 7px solid rgba(52, 162, 9, 0.25);
    }

    &:focus {
        background-color: rgba(153, 255, 51, 1);
        color: gray;
        border: none;
        outline: 7px solid rgba(52, 162, 9, 0.25);
        box-shadow: none;
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0em;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


.bg-color-blue-nav, .bg-color-blue-nav .navbar {
    background-color: #111927;
}
.bg-color-white-nav, .bg-color-white-nav .navbar {
    background-color: #EEE;
}

.nonscroll {
    overflow: hidden;
}

//removing default browser styles

.form-checkbox-label input {
    opacity: 0;
}

//Button Styles 

.btn {
    @include btn-styles(background-color, rgba(246, 248, 244, 0.591));
}

.btn-primary {
    @include btn-styles(background-color, rgba(153, 255, 51, 1));
}
.btn-danger {
    @include btn-styles(background-color, rgba(255, 29, 4, 0.772) );
}
.btn-info {
    @include btn-styles(background-color, rgba(255, 219, 40, 0.957) );
    &.active {
        @include btn-styles(background-color, rgba(28, 248, 164, 0.957) );
    }
}


@keyframes hop {
    0% {
        font-size: inherit;
    }
    50%{
        font-size: 18px;
    }
    100% {
        font-size: inherit;
    }
}

@keyframes rotation {
    0% {
        height: 0;
    }
    25% {
        height: 15px;
    }
    50% {
        height: 25px;
    }
    75% {
        height: 45px;
    }
    100% {
        height: fit-content;
    }
}

// Navbar Styles 
// Structure


//some shadow

.nav-shadow {
    box-shadow: 0 9px 15px -12px black;
}

//sticky and scroll effects
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    transition: 1s ease-in-out;
}


.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

//navbar styles
.nav-menu .navbar, .nav-menu .navbar-nav  {
    height: 82px;
}



.navbar-collapse .navbar-nav {
    height: fit-content;
    .nav-item {
        padding: 0em 0.5em;
        border-radius: 0.5em;
        &:hover {
            outline: solid hsla(90, 100%, 60%, 0.5) 1.5px;
        }
    }
    .nav-link {
        color: white;
        font-weight: bold;
        cursor: pointer; 
        &:hover {
            color:hsl(90, 100%, 60%);
        }
        &.active {
            color: hsl(90, 100%, 60%);
        }
    }
}



.nav-item.dropdown {
    text-align: right;
    .dropdown-toggler+ul.show {
        top: 100%;
        left: 1;
        position: absolute;
        padding: 0;
        background-color: #111927;
        border: #000D1C solid 2px;
        border-radius: 0;
        text-align: right;
    }
    
    .nav-item {
        margin: 0;
        border-radius: 0;
        border-bottom: solid #000D1C 2px;
        .nav-link {
            color: white;
        }
    }

}


//mobile nav a.k.a navbar small

.navbar-toggler {
    padding: 0.125em 0.25em;
    border: transparent solid;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");    
}
.nav-mobile-toggle {
    z-index: 1000;
}

.navbar-collapse-mobile {
    margin: 0;
    height: 100vh;
    background-color: #000D1C;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    visibility:hidden;
    &.show {
        visibility: visible;
    }
    .navbar-nav {
        flex-direction: column;
        flex-grow: 1;
        height: calc(100vh - 82px);
        width: 100%;
        li.nav-item {
            border-radius: 0;
        }
    }
    

}


// Navbar Elements 
// Navbar-brand, Nav-item und Nav-link

.navbar-brand {
    width: fit-content;
    margin: 0;
    padding: 0;
}
.brand-logo {
    height: 3em;
    margin-right: -0.50em;
}
.brand-name {
    text-decoration: none;
    font: 1.2em sans-serif;
    font-weight: bold;
    color: #51FF00;
    position: relative;
    top: 0.25em;
}



// Content Styles

// Allgemeine Stillen - General Styles


.main {
    background: linear-gradient(60deg, #112233 10%, #111927 10%, #111927 90%, #112233 90%) no-repeat fixed;
    padding-top: 82px;
    color: white;
}


a:not(:disabled) {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgba(153, 255, 51, 1);
}

.cont {
    background-color: #000D1C;
    padding: 0;
}


.cont-header {
    padding: 0 1em;
}
.cont-content {
    line-height: 1.75em;
    margin: 0 1em;
    padding: 1em;
}
.cont-row {
    padding: 0;
}

.cont-content h5 {
    line-height: inherit;
}
.cont-content p {
    margin-top: 1em;
    line-height: 1.5em;
}

//Image Styles

.cont-img-div {
    border: #34A200 solid 5px;
    width: fit-content;
}
.cont-img {
    width: 10em;
}

.img-avatar {
    width:5em;
    background-color: red;
}

//Specific Styles (topic container, banner and forms container)

// Feed container

.page-feed {
    padding-bottom: 2em;
}

.cont-feed {
    ul {
        justify-content: left;
        display: flex;
        padding: 0;
    }
    li {
        border: #34A200 solid 3px;
        border-radius: 0.5em;
        margin: 0;
        margin-right: 10px;
        &.active {
            .btn {
                color: black;
                background-color: hsl(90, 100%, 60%);
            }
        }
    }
    .btn-feed {
        color: white;
        background-color: transparent;
        &:active {
            background-color: hsl(90, 100%, 60%);
            color: black;
        }
        &:focus {
            box-shadow: 0px 0px 1px white        ;
        }   

    }
}



// Tag container
.cont-tags {
    color: red;
    max-height: inherit;
    margin: 0;
}

.cont-tags>.cont-header {
    font-variant: small-caps;
    font-style: italic;
    color: white;
    border-bottom: #34A200 solid 2.5px;
    height: 35px;
}

.topic-btn-cont {
    max-height: 500px;
    padding: 0 1em;
    margin: 0;
    overflow-x: hidden;
}
.topic-btn {
    display: block;
    border: #34A200 solid 2.5px;
    border-radius: 0.5em;
    margin-top: 10px;
    background-color: transparent;
    color: whitesmoke;
    padding: 0 0.5em;
}

//Article preview

.article-box {
    .page-item {
        background-color: #000D1C;
        
        &.active {

            .page-link{
                color:hsl(90, 100%, 60%);
            }
        }
    }
    .page-link {
        color: gray;
        background-color: transparent;
        border: none;
        &:focus {
            box-shadow: 0px 0px 10px #51FF00;
        }
    }
    
}
.article-preview {
    background-color: #000D1C;
    margin-bottom: 3em;
    padding: 1em;
    border: #051d46 5px solid;
}

.article-meta {
    margin: 0 auto;
    padding: 0.7em 1.6em;
    background-color: #000D1C;
}
.article-meta.bottom {
    border-radius: 1em;
    max-width: 100;
    margin: 0;
    margin-bottom:8em;
}
.article-author {
    width: fit-content;
    padding: 0;
    img {
        border-radius: 50%;
        width: 2.5em;
    }
    a, span {
        margin-left: 5px;
        margin-right: 1em;
    }

}

.article-buttons {
    border-left: 0.5em solid #51FF00;
    padding: 0 4em;
    max-width: 50%;
    .btn {
        margin-right: 1em;
    }
    .btn.btn-info {
        max-width: 7em;
    }
    .follow-row {
        span {
            display: block;
            text-align: center;
        }
    }

}

.article-link {
    margin-top: 1em;
}

.tag-list {
    padding: 0;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000D1C;
    margin-top: 1em;
    margin-bottom: 2em;
}

.tag-list span {
    display: block;
    margin: 0;
    padding: 0 1em;
    width: 100%;
    background-color: #112233;
}
.tag-list ul {
    padding: 0.5em 1.6em;
    margin: 0;
    display: flex;
    list-style: none;
}
.tag-list li {
    background-color: #000D1C;
    padding: 0 1em;
    outline: yellowgreen 1px solid;
    border-radius: 1em;
    text-align: center;
}

.cont.tech-banner-cont {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cont-three .cont {
    box-shadow: 2.5px 2.5px 0px #34A200;
    margin: 0 0.5em 2.5em;
}
.cont-three .cont .cont-header {
    text-align: center;
}
.cont-three .cont .cont-content {
    padding: 1em;
}

.banner-quote {
    background-color: hsl(90, 100%, 60%);
    width: 70%;
    margin: 7em auto;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 10px 10px 0px #EEE;

}
.banner-quote h1 {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-style: italic;
}

.cont.tech-banner-cont {
    background-color: #000D1C;
    box-shadow: 5px 5px 1px #34A200;
    padding: 1em;
}

.tech-banner {
    margin: 0 auto;
}

.auth-page {
    padding-top: 2em;
    padding-bottom: 1em;
}

// Profile styles

.profile-page {
    padding-top: 2em;
}

.profile-info {
    .btn-follow>span {
        display: block;
    }
}
.profile-avatar {
    display: block;
    text-align: left;
    img {
        margin: 0 auto;
        border: #112233 solid 5px;
        border-radius: 25%;
    }
    a {
        font-size: large;
        width: fit-content;
        font-style: bold;
        display: block;
        margin: 0 auto;
    }
}

.profile-bio {
    padding: 0.5em 1em;
    margin: 1em auto;
    border: #051d46 10px solid;
    background-color: #000D1C;
    min-height: 200px;
    p {
        line-height: 1em;
    }
}
.profile-buttons {
    display: flex;
    margin: 1em auto;
    width: fit-content;
    .follow-row {
        margin: 0 1em;
        width: auto;
        .btn.btn-primary {
            background-color: skyblue;
        }

    }
    .btn {
        margin: 0 0.5em;
    }
    .btn-info {
        a {
            color: #000D1C;
        }
    }
    span {
        text-align: center;
        height: 2.5em;
        width: 100%;
        display: block;
        font-style: bold;
        margin: 0 auto;
    }
    .col-12 {
        margin-bottom: 0.5em;
    }
}
.author-buttons {
    max-width: 50%;
    .btn.btn-primary {
        &:active {
            a {
                color: white;
            }
            background-color: transparent;
        }
        a {
            color: #000D1C;
        }
    }
}

.profile-toggler {
    ul {
        display: flex;
        margin: 1em 0;
        list-style: none;
        
    }
    li.nav-item {
        margin: 0 0.5em;
        padding: 0 1em;
        border-radius: 0.5em;
        transition: ease-out 0.1s outline;
        outline: 0;
        &:hover {
            outline: 0.15em solid #51FF00;
        }
        &.active {
            background-color: greenyellow;
            a {
                color: #000D1C;
            }
        }

    }
}

//Form styles

.auth-page {

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
    .col {
        margin-bottom: 0.25em;
    }
    .btn-info {
        a {
            color: black;
        }
        margin-left: 1em;
    }
    .error-message {
        transition: visibility .1s;
        transition:  margin 0.2s;
        height: 0;
        visibility: hidden;
        margin-top: -4em;
        background-color: hsl(0, 100%, 40%);
        padding: 0.5em 1em;
        border: hsl(0, 100%, 15%) solid 5px;
        &.active {
            margin: 0;
            height: fit-content;
            visibility: visible;
        }
        &::after {
            margin-left: 0.5em;
            font-size: large;
            content: "!"
        }
    }
}
.form-cont {
    padding: 1em;
    textarea {
        width: 100%;
    }
}
.article-form {
    padding: 2em;
    .markdown-editor {
        .wmde-markdown-var.w-md-editor.w-md-editor-show-live {
            min-height: 200px;
            height: fit-content !important;
        }
        .w-md-editor-area.w-md-editor-input {
            min-height: inherit;
        }
        .w-md-editor-preview {
            min-height: inherit;
        }
    }
}


.form-fieldset {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .form-label {
        background-color: #111927;
        width: fit-content;
        padding: 0 0.5em;
        margin-left: 1em;
        margin-bottom: -0.5em;
        z-index: 3;
        cursor: pointer;
    }
}

.form-input:hover {
    box-shadow: 0.25em 0.25em 0px rgba(153, 255, 51, .7);
}

.form-input {
    background-color: transparent;
    border: #ccc solid 0.25em;
    border-radius: 0.5em;
    box-shadow: 0.25em 0.25em 0px rgba($color: #777, $alpha: .7);
    padding: 0.25em 1em;
    z-index: 2;
    color: white;
}
.form-input:focus {
    outline: none;
    box-shadow: 0.25em 0.25em 0px rgba(153, 255, 51, 1);
}



.form-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 1em;
    width: fit-content;
}
.checkbox-span {
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height: 25px;
    border: #ccc solid 0.25em;
    border-radius: 0.5em;
    box-shadow: 0.125em 0.125em 0px rgba($color: #777, $alpha: .7);
}
.form-checkbox-label:hover input ~.checkbox-span {
    box-shadow: 0.125em 0.125em 0px rgba(153, 255, 51, .7);
}
.form-checkbox-label input:checked ~ .checkbox-span {
    border: #ccc solid 0.25em;
    box-shadow: 0.125em 0.125em 0px rgba(153, 255, 51, .7);
    background-color: rgba(153, 255, 51, .7);
}
.checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox-label input:checked ~.checkbox-span:after {
    display: block
}

.form-checkbox-label .checkbox-span:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.form-btn {
    width: 100%;
    margin: 1em auto;
}

//Article page

.container.article-page {
    max-width: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.container.banner-container {
    max-width: 100%;
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: rgba(153, 255, 51, 1);
    text-align: center;
    color: #000D1C;
}
.container.article-cont {
    max-width: 100%;
    margin: 0 auto;
}
.article-body {
    padding: 0;
    .wmde-markdown.wmde-markdown-color {
        padding: 2em 5em;
    } 
}

//Comment styles

.comment-row {
    width: 100%;
    margin:0;
    hr {
        width: 100%; 
        height: 10px;
        padding: 0;
        background-color: hsl(90, 100%, 30%);
    }
    .row.col-12{
        background-color: #000D1C;
        width: 100%;
        margin: 0;
    }
}
.comment-count {
    color: #112233;
    background-color: #51FF00;
    padding: 0 1.6em;
}
.comment-form {
    margin: 0;
    width: 100%;
    padding: 0em 2em 1em 2em;
    background-color: #000D1C;
    label {
        text-transform: uppercase;
        display: block;
        margin: 2em 0 2em 1em;
    }
    textarea {
        background-color: #000D1C;
        color: white;
        width: 100%;
        height: fit-content;
    }
    .comment-footer {
        padding-top: 1em;
        display: flex;
    }
    .btn {
        margin-left: 2em;
    }
}

.comment-unlogged {
    background-color: #000D1C;
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    border-bottom: solid rgba(153, 255, 51, 1) 0.5em;

}

.comment-card {
    max-width: 100%;
    margin: 0 auto;
    background-color: #000D1C;
    padding: 2em;
    padding-bottom: 2em;
    border-bottom: #051d46 solid 0.25em;
}

.comment-author {
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #000D1C;
    width: 100%;
    width: fit-content;
    padding: 0 0.5em;
    padding-bottom: 0.5em;
}
.comment-author img {
    border-radius: 50%;
    width: 2.5em;
}
.comment-author span {
    margin-left: 0.5em;    
}
.comment-cont {
    background-color: #112233;
    padding: 1em;
    span {
        color: lightgray;
        display: block;
        padding-top: 1em;
        &::before {
            content: "Last updated at: ";
        }
    }
}
.comment-footer {
    .btn.btn-info {
        margin: 0.5em auto;
        min-width: 7em;
    }
    .comment-dropbtn {
        border: 0.15em solid white;
        background-color: transparent;
        border-radius: 15%;
        transition: background-color ease-in 0.2s;
        transition: border ease-in 0.2s;
        &:hover {
            background-color: gray;
        }
        &:active {
            border:#51FF00 solid 0.10em;
        }
    }
    .comment-dropdown-content {
        position: absolute;
        opacity: 0;
        background-color: #112233;
        max-width: 12em;
        border: #111927 solid 0.4em;
        ul {
            list-style: none;
            margin: 0;
            padding: 0em;
        }
        li {
            padding-left: 1em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            border-bottom: solid 0.2em #111927;
        }
        a {
            &:hover {
                color:#51FF00;
                animation: hop .25s;
            }
        }
        &.show {
            position: relative;
            opacity: 1;
            animation: rotation 0.1s;
        }

    }
}


//footer styles

footer {
    width: 100%;
    margin: 0;
    padding: 1em;
    background-color: #000D1C;
    color: whitesmoke;
    height: fit-content;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .footer-col {
        margin-bottom: 1em;
        div.col-6 {
            .footer-form {
                width: 100%;
            }
            .btn-newsletter {
                position: relative;
                top:1.5em;
                max-width: 8em;
                margin: 0 auto;
            }
        }
    }
}

.footer-form {
    display: none;
    &.show {
        display: block;
    }
    margin: 0;
    fieldset {
        margin: 0;
        input {
            margin-bottom: 0.5em;
        }
 
   }
}
.btn-newsletter {
    display: none;
    &.show {
        display: block;
    }
}
.socialmedia {
    width: fit-content;
    margin: 0 auto;
    ul {
        margin:  0 auto;
        display: flex;
        list-style: none;
    }
    li {
        margin: 0 1em;
        padding: 0.25em;
        width: 5em;
        text-align: center;    
    }
    a {
        margin: 0 auto;
    }
}






// Others

.loading-truck {

    display: block;
    margin: 0 auto;
    text-align: center;
    height: calc(100vh - 332px);
}

.not-found-page  {
    height: calc(100vh - 332px);
}

