//footer styles

footer {
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #000D1C;
    color: whitesmoke;
    height: fit-content;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .footer-col {
        margin-bottom: 1rem;
        div.col-6 {
            .footer-form {
                width: 100%;
            }
            .btn-newsletter {
                position: relative;
                top:1.5rem;
                max-width: 8rem;
                margin: 0 auto;
            }
        }
    }
}

.footer-form {
    display: none;
    &.show {
        display: block;
    }
    margin: 0;
    fieldset {
        margin: 0;
        input {
            margin-bottom: 0.5rem;
        }
 
   }
}
.btn-newsletter {
    display: none;
    &.show {
        display: block;
    }
}
.socialmedia {
    width: fit-content;
    margin: 0 auto;
    ul {
        margin:  0 auto;
        display: flex;
        list-style: none;
    }
    li {
        margin: 0 1rem;
        padding: 0.25rem;
        width: 5rem;
        text-align: center;    
    }
    a {
        margin: 0 auto;
    }
}

