@mixin btn-styles($background-color, $bgvalue) {
  &:not(:disabled) {
    #{$background-color}: $bgvalue;
    border: none;
    color: #000d1c;
    padding: 0.5rem 1rem;
    transition: all ease-in 0.1s;
  }

  &:hover {
    background-color: rgba(153, 255, 51, 1);
    color: gray;
    border: none;
    outline: 0.7rem solid rgba(52, 162, 9, 0.25);
  }

  &:focus {
    background-color: rgba(153, 255, 51, 1);
    color: gray;
    border: none;
    outline: 0.7rem solid rgba(52, 162, 9, 0.25);
    box-shadow: none;
  }
}
