@import "_mixins.scss";
@import "_animations.scss";
@import "_navbar.scss";
@import "_content.scss";
@import "_article.scss";
@import "_profile.scss";
@import "_form.scss";
@import "_footer.scss";

// Allgemeine Stillen - General Styles

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0rem;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.bg-color-blue-nav,
.bg-color-blue-nav .navbar {
  background-color: #111927;
}
.bg-color-white-nav,
.bg-color-white-nav .navbar {
  background-color: #eee;
}

.nonscroll {
  overflow: hidden !important;
}

.show {
  display: block !important;
}
.sichtbar {
  opacity: 1 !important;
}

//removing default browser styles

.form-checkbox-label input {
  opacity: 0;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: #222 solid 3px;
  .checkmark {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #555;
    &:hover {
      background-color: green;
    }  
  }
  .checkmark::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    width: 0.5rem;
    height: 1rem;
    border-right: 0.2rem solid #111927;
    border-bottom: 0.2rem solid #111927;
    transform: rotate(45deg);
    transition: all 0.4s;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .checkmark {
    background-color: greenyellow;
    &::after {
      opacity: 1;
    } 
  }
}

//Button Styles

.btn {
  font-size: 1.7rem;
  @include btn-styles(background-color, rgb(232, 254, 209));
  &.btn-primary {
    @include btn-styles(background-color, rgba(153, 255, 51, 1));
  }
  &.btn-danger {
    @include btn-styles(background-color, rgba(255, 29, 4, 0.772));
  }
  &.btn-info {
    @include btn-styles(background-color, rgba(255, 219, 40, 0.957));
    &.active {
      @include btn-styles(background-color, rgba(28, 248, 164, 0.957));
    }
  }

}

// Others

.loading-truck {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: calc(100vh - 33.2rem);
}

.not-found-page {
  height: calc(100vh - 332px);
}

.loading-square-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-meta .loading-square-wrapper,
.article-meta .loading-square-wrapper::before,
.article-meta .loading-square-wrapper::after {
  max-width: 70px;
  max-height: 70px;
}
.loading-square-wrapper::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: solid 3px green;
  animation: square-clockwise 3s ease-in-out 0.5s infinite alternate;
}
.loading-square-wrapper::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: solid 3px red;
  transform: rotate(45deg);
  animation: x-square-clockwise 3s ease-in-out 0.5s infinite alternate;
}

//Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #293c5b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04080d;
}